name: Debug Workflow Path

on:
  push:
    branches: [ "main" ]

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print working directory
        run: pwd

      - name: List all files and folders recursively
        run: ls -R
